* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Rose", cursive;
}
body{
  background-image: url(./assets/pexels-maxyne-barcel-10402282\ 1.png);
  height: 100vh;
}
.container nav{
  display: flex;
  height: 20vh;
  justify-content: space-around;
  align-items: center;
  
  
} 

.list li{
  display:inline-block;
  padding: 0 40px;
  margin-top: 10px ;
  color: #F7CD2E;

  
}
.button-small{
  margin-right: 50px;
  padding: 10px 30px;
  background-color: #EF5354;
  border: 0px;
  color: #ffffff;
  cursor: grab;
}
.hero-heading{
  text-align: center;
  font-size: 120px;
  letter-spacing: 5px;
  margin: auto;
  margin-top: 50px;
}
.button-large{
  display: block;
  text-align: center;
  margin: auto;
  background-color: #EF5354;
  padding: 10px 30px;
  border: 0;
  font-size: 25px;
  color: #ffffff;
  cursor: grab;
}
.bottom {
  display: block;
  margin-top: 10px;
  margin-left: 85%;
  
  
}


/* ------------------------------ */
/* ---------- NAVBAR ------------ */
/* ------------------------------ */

/* ------------------------------ */
/* ---------- HERO ------------ */
/* ------------------------------ */
